<div class="container">
    <h1 class="my-5 display-3 fw-bold ls-tight">
      <span class="text-primary">View Your Order</span>
    </h1>  
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price  </th>
            <th scope="col">Quantity </th>
            <th scope="col">Address </th>
            <th scope="col">Order Status </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{body.productName }}</td>
            <td>{{body.productPrice }}</td>
            <td>{{body.orderQuantity }}</td>
            
            <td>{{body.shipmentAddress }}</td>
            <td>{{body.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>