<div class="container">
  <br>
  <h1 class="my-5 display-3 fw-bold ls-tight">
    <span class="text-primary">Make Payment </span>
  </h1>
  <form [formGroup]="PaymentForm" (submit)="placeOrderandPayment()" class="mt-4">
    <div class="row mb-2">
      <div class="col-8">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card text-black">
              <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
              <img [src]="productToOrder.productImage" class="card-img-top" alt="Product Image" />
              <div class="card-body">
                <div class="text-center">
                  <h5 class="card-title">{{ productToOrder.productName }}</h5>
                  <p class="text-muted mb-4">{{ productToOrder.productType }}</p>
                </div>
                <div>
                  <div class="d-flex justify-content-between">
                    <span> Product Price</span><span>{{ productToOrder.productPrice }}</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span>Product Description</span><span>{{ productToOrder.productDescription }}</span>
                  </div>
                </div>
                <br />
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <label>Quantity</label>
        <input type="number" class="form-control" placeholder="Enter Quantity" min="1" formControlName="test" (change)="quannchange()" [(ngModel)]="quantity" />
        <br />
        <h5 style="color:#0d6efd;">Order Price:{{price}}</h5>
        <br>
        <label>Choose Payment Method</label>
        <select class="form-select form-select-lg-2" aria-label=".form-select-lg example" formControlName="paymentmode">
          <option value="COD">COD</option>
          <option value="CARD">CARD</option>
        </select><br>
        <label>Card Number</label>
        <input type="text" class="form-control" placeholder="Enter Card Number" formControlName="cardnumber" />
        <br />
        <label>CVV</label>
        <input type="number" class="form-control" placeholder="Enter CVV" formControlName="cardCvv" />
        <br />
        <label>Card Expiry Date</label>
        <input type="date" class="form-control" placeholder="Enter Expiry Date" formControlName="expdate" /><br />
        <label>Card Name</label>
        <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" />
        <br />
        <div class="d-flex flex-row-reverse">
          <button type="submit" class="btn btn-primary ps-5 pt-2 pb-2 pe-5">
            Make Payment
          </button>
        </div>
      </div>
    </div>
  </form>
</div>