<div class="container">
  <h1 class="my-5 display-3 fw-bold ls-tight">
    <span class="text-primary">Add Category</span>
  </h1>
  <div class="row">
    <form [formGroup]="CategoryForm" (submit)="NewCategory()">
      <div class="d-flex mt-5 justify-content-between">
        <input
          type="text"
          class="form-control"
          formControlName="catName"
          placeholder="Enter New Category Name"
        />
        <button type="submit" class="btn btn-primary ps-5 pt-2 pb-2 pe-5 ms-2">
          Add
        </button>
      </div>
    </form>
  </div>

  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">S.No.</th>
          <th scope="col">Category Name</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let item of categories;
          let index = index;
          trackBy: trackByIndex
        "
      >
        <tr>
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ item.categoryName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
